@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Rubik', sans-serif;
}



.section-hero {
    background-image: url("asset/bg-image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* % de la HAUTEUR de l'écran */
}

.white {
    color: white;
}


.section-bg2{

    background-image: url(asset/bg-image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 48vh;

}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.gap-8{
    gap: 40px;
}
/*TEXTE */
a{
    text-decoration: none;
}

.black{
    color: black;
}

/* MARGIN 1 & PADDING*/

.p-40{
    padding: 20px;
}


/* TAILLE */

.w30{
    width: 30%;
}
.justify-center{
    justify-content: center;
}


   .flex{
    display: flex;
    flex-wrap: wrap;
   }





.mbt-1{
    margin-bottom:  50px; ;
}
   .align-center{ 
   align-items :center ; 
   }

   .space-between{
    justify-content: space-between;
   }
   .container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
 }

 .mt64{

    margin-top: 64px;
 }
